

<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <title>EMPLOYEE CLASSIFICATION FOR PERSONALIZED PROFESSIONAL TRAINING USING MACHINE LEARNING TECHNIQUES</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="static/assets/css/fontawesome.css">
    <link rel="stylesheet" href="static/assets/css/templatemo-plot-listing.css">
    <link rel="stylesheet" href="static/assets/css/animated.css">
    <link rel="stylesheet" href="static/assets/css/owl.css">
<!--

TemplateMo 564 Plot Listing

https://templatemo.com/tm-564-plot-listing

-->
  </head>

<body>

  <!-- ***** Preloader Start ***** -->
<!--  <div id="js-preloader" class="js-preloader">-->
<!--    <div class="preloader-inner">-->
<!--      <span class="dot"></span>-->
<!--      <div class="dots">-->
<!--        <span></span>-->
<!--        <span></span>-->
<!--        <span></span>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
  <!-- ***** Preloader End ***** -->

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container" style="padding-top: 5px;">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <h1> <b><a class="navbar-brand" href="index.html" style="color:red; font-size:30px">EMPLOYEE <span style="color:white;"> PROMOTION</span></a></b></h1>
<!--            <a href="index.html" class="logo">-->
<!--            </a>-->
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li><a href="/" class="active" style="font-weight: bolder;font-size=20px">Home</a></li>
              <li><a href="/about" style="font-weight: bolder;font-size=20px">About</a></li>
              <li><a href="/login" style="font-weight: bolder;font-size=20px">Login</a></li>
              <li><a href="/registration" style="font-weight: bolder;font-size=20px">Registration</a></li>
<!--              <li><div class="main-white-button"><a href="#"><i class="fa fa-plus"></i> Add Your Listing</a></div></li>-->
            </ul>
            <a class='menu-trigger'>
                <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>

    <head>
<style>
h2 {
  text-shadow: 2px 2px 8px white;
}
h1 {
  text-shadow: 2px 2px 8px black;
}
</style></head>
  <!-- ***** Header Area End ***** -->

  <div class="main-banner">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="top-text header-text">
<!--            <h6>Over 36,500+ Active Listings</h6>-->
            <h2 style="color:black">EMPLOYEE CLASSIFICATION FOR PERSONALIZED PROFESSIONAL TRAINING USING MACHINE LEARNING TECHNIQUES </h2>
          </div>
        </div>
      </div>
    </div>
  </div>




  <!-- Scripts -->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/js/owl-carousel.js"></script>
  <script src="static/assets/js/animation.js"></script>
  <script src="static/assets/js/imagesloaded.js"></script>
  <script src="static/assets/js/custom.js"></script>

</body>

</html>
