
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

  <title>EMPLOYEE CLASSIFICATION FOR PERSONALIZED PROFESSIONAL TRAINING USING MACHINE LEARNING TECHNIQUES</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="static/assets/css/fontawesome.css">
  <link rel="stylesheet" href="static/assets/css/templatemo-plot-listing.css">
  <link rel="stylesheet" href="static/assets/css/animated.css">
  <link rel="stylesheet" href="static/assets/css/owl.css">
  <!--

  TemplateMo 564 Plot Listing

  https://templatemo.com/tm-564-plot-listing

  -->
</head>

<body>

<!-- ***** Preloader Start ***** -->

<!-- ***** Preloader End ***** -->

<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
  <div class="container" style="padding-top: 5px;">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <!-- ***** Logo Start ***** -->
          <h3> <b><a class="navbar-brand" href="index.html" style="color:red; font-size:30px">EMPLOYEE <span style="color:white;"> PROMOTION</span></a></b></h3>
          <a href="index.html">
          </a>
          <!-- ***** Logo End ***** -->
          <!-- ***** Menu Start ***** -->
          <ul class="nav">
            <li><a href="/loginhome" class="active" style="font-weight: bolder;font-size=20px">Home</a></li>
            <li><a href="/upload" style="font-weight: bolder;font-size=20px">Upload</a></li>
            <li><a href="/viewdata" style="font-weight: bolder;font-size=20px">viewdata</a></li>
            <li><a href="/preprocessing" style="font-weight: bolder;font-size=20px">Preprocessing</a></li>
            <li><a href="/model" style="font-weight: bolder;font-size=20px">Model</a></li>
            <li><a href="/prediction" style="font-weight: bolder;font-size=20px">prediction</a></li>
            <li><a href="/" style="font-weight: bolder;font-size=20px">Logout</a></li>
          </ul>
          <a class='menu-trigger'>
            <span>Menu</span>
          </a>
          <!-- ***** Menu End ***** -->
        </nav>
      </div>
    </div>
  </div>
</header>
<!-- ***** Header Area End ***** -->
<head>
  <style>
h2 {
  text-shadow: 2px 2px 8px WHITE;
}
h3 {
  text-shadow: 2px 2px 8px black;
}
</style>
</head>
<center>
  <div class="page-heading5">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="top-text header-text">
            <center><h2 style="color:BLACK; font-size:50px">UPLOAD</h2></center>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!--   <div class="slider-area slider-height" data-background="static/assets/images/e7.jpg">-->
  <div class="slider-active">
    <!-- Single Slider -->
    <div class="single-slider">
      <div class="slider-cap-wrapper">
        <div class="hero__caption">
          <!--                            <p data-animation="fadeInLeft" data-delay=".2s">Login with our services</p>-->
          <div class="mb-3">
            <!--                                            <center><h3>{{msg}}</h3></center>-->
            <!--            {% block body %}-->
            <!--            {% if msg =='Invalid Credentials' %}-->
            <!--            <h3>Please provide valid credentials</h3>-->
            <!--            {% elif msg=='Login Successfull' %}-->
            <!--            <h3>Login Successful</h3>-->
            <!--            {% endif %}-->
            <!--            {% endblock %}-->
            <section class="about-section py-5">
              <div class="container py-lg-4 pt-3">
                <div class="row justify-content-center text-center">
                  <div class="col-md-8">
                    <div class="section-heading mb-sm-5 mb-4">

                      <center>
                        <h4 style="color:cyan;font-size:70px;">{{msg}}</h4><br><br><br>
                        <form action="{{url_for('upload')}}" method="post" enctype="multipart/form-data">
                          <input type="file" name="file" >
                          <input type="submit" value="Submit" class="btn btn-primary"></i></input>
                        </form>
                      </center>

                    </div>
                  </div>
                </div>

                <!-- pagination -->

                <!-- //pagination -->
              </div>
            </section>




          </div>

        </div></center>

<!-- Scripts -->
<script src="static/vendor/jquery/jquery.min.js"></script>
<script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="static/assets/js/owl-carousel.js"></script>
<script src="static/assets/js/animation.js"></script>
<script src="static/assets/js/imagesloaded.js"></script>
<script src="static/assets/js/custom.js"></script>

</body>

</html>